body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}
.login-container {
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.login-container h2 {
    margin: 0 0 15px;
    text-align: center;
}
.login-container label {
    display: block;
    margin: 10px 0 5px;
}
.login-container input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#login {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
}
#googleBtn {
    width: 100%;
    padding: 10px;
    background-color: #283ba7;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
}
